@font-face{
    font-family: postergothic-excond-atf-bold;
    src: url('/fonts/postergothic-excond-atf-bold.otf');
    font-weight: normal;
    font-style: normal;
}

body {
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}

.navbar-adjustment {
  width: 100%;
}

*:not(.nav-link):not() {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: clamp(5rem, 7vw, 1rem);
}

a {
  text-decoration: none;
}

a:link {
  color:black;
}

a:visited {
  color:black;
}

.nav-link {
  font-family: postergothic-excond-atf-bold;
  color: black;
}

#intro {
  margin-top: 50px;
  text-align: center;
  font-size: 300%;
}

.active {
  color: red !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center !important;
} 

#footer-svg {
  filter: invert(32%) sepia(31%) saturate(734%) hue-rotate(49deg) brightness(94%) contrast(83%);
}

@media (min-width: 1140px) {
      #social {
        float:left;
      }
    }

@media (max-width: 991px) {
      #faq {
        text-align: center;
      }

      h1 {
        font-size: clamp(3rem, 5vw, 1rem);
      }
}
