@font-face{
    font-family: postergothic-excond-atf-bold;
    src: url('/fonts/postergothic-excond-atf-bold.otf');
    font-weight: normal;
    font-style: normal;
}

#toplink {
  font-family: postergothic-excond-atf-bold;
}

h1 {
  font-family: postergothic-excond-atf-bold;
}

#intro {
  margin-top: 50px;
  text-align: center;
  font-size: 300%;
}

.active {
  color: red !important;
}

.nav-link {
  color: white !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center !important;
} 